<div class="container-fluid m-0 p-2" ng-init="getCategories()">
  <div class="jumbotron jumbotron-fluid">
      <div class="container">
          <h1 class="h1-reponsive mb-4 mt-2 blue-text font-bold">Browse Categories</h1>
          <p class="lead">Read buying guides and savings analysis for products and services across more than 50 categories in the Health Care Industry</p>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Console</a></li>
            <li class="breadcrumb-item active" aria-current="">Browse Categories</li>
          </ol>
      </div>
  </div>

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h4>Software</h4>
      <ul style="list-style-type: none;">
        <li ng-repeat="cat in categoryData"><a href="/categories/{{cat._id}}">{{ cat.category }}</a> ({{cat.products.length}})</li>
      </ul>

    </div>
    <div class="col-md-2"></div>
  </div>
</div>

<!-- <div class="container-fluid m-0 p-2" ng-init="getCategories()">
  <h1 class="text-center p-5">Categories</h1>

      <div class="row">
        <table ng-table="categoryTable" class="table table-condensed table-hover table-bordered table-active">
          <tbody class="text-center">
            <tr ng-repeat="row in $data">
              <td title="'category'" sortable="'category'" filter="{category: 'text'}"><a href="/categories/{{row._id}}">{{ row.category }}</a></td>
              <td title="'industry'" sortable="'industry'" filter="{industry: 'text'}">{{ row.industry }}</td>
              <td title="'count'">{{ row.products.length }}</td>
            </tr>
          </tbody>
        </table>
      </div>
</div> -->
<!--<li ng-repeat="a in categoryData">{{a.category}}</li>-->
