<div class = "container-fluid m-0 p-0">
  <div class="jumbotron bg-light mb-0">
    <h1 class="display-4 text-center pb-2">Our Mission</h1>
    <p class="lead text-center col-sm-8 offset-2">VisionClerk has created a system that will automatically monitor compliance and help the procurement/finance teams understand potential opportunities through use of Artificial Intelligence. Our platform offers unprecedented efficiency by automating the processing, analysis, and reporting of contract and spend data. We do this by offering a cloud SaaS platform whereby procurement and finance departments can upload contracts, rate cards and invoices, or integrate with existing systems, to intelligently structure data and uncover actionable opportunities. Rather than helping teams visualise data, our focus is on providing actionable opportunities for teams to explore. </p>
  </div>

  <div class="row m-2" style="background-color:white;">
    <div class="col-md-8 offset-2">
      <h2 class="h1-responsive font-weight-bold text-center my-5">Management Team</h2>
      <div class="row">

      <div class="col-sm-6">
        <div class="card bg-light" style="width: 20rem;">
          <img class="card-img-top" height="300px" src="https://static.wixstatic.com/media/e3a074_4ed5cfc4cda44fbb9e4de4122c5a33cd~mv2.jpg/v1/crop/x_0,y_3,w_531,h_525/fill/w_190,h_188,al_c,q_80,usm_0.66_1.00_0.01/e3a074_4ed5cfc4cda44fbb9e4de4122c5a33cd~mv2.jpg" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title text-center">Abizer Jafferjee, CTO</h4>
                <p class="card-text text-center">Phone: 647-936-1140</p>
                <hr>
                <p class="card-text">Abizer is a driven entrepreneur with the skill set of a developer. He is passionate about finding better ways to utilize data to transform business processes, a skill that he has honed through valuable industry experience. He previously interned at Proctor & Gamble as a data analyst where he built innovative analytics tools to drive better decision making. Having completed his Bachelors degree in Computer Science and Economics from the University of Toronto, he has worked with and learned from those at the forefront of AI and Machine Learning.</p>

                <p class="card-text">At VisionClerk, Abizer leads the product development team, building the AI tools and platform which are central to our vision of automating contract compliance and identifying cost savings opportunities. Beyond that, he is a key visionary in thinking about the long term business goals for VisionClerk, working with business professionals to conceptualise the innovative features that are forming our product pipeline to accelerate the success of the platform.</p>
            </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="card bg-light" style="width: 20rem;">
          <img class="card-img-top" height="300px" src="https://static.wixstatic.com/media/e3a074_d6f421412d5942aabdf52adc460fe6bd~mv2_d_2320_3088_s_2.jpg/v1/crop/x_0,y_396,w_2320,h_2296/fill/w_190,h_188,al_c,q_80,usm_0.66_1.00_0.01/e3a074_d6f421412d5942aabdf52adc460fe6bd~mv2_d_2320_3088_s_2.jpg" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title text-center">Euan Hunter, COO</h4>
                <p class="card-text text-center">Phone: 437-345-0526</p>
                <hr>
                <p class="card-text">Euan is an enthusiastic, self-starting entrepreneur specialising in the business application of AI (Artificial Intelligence). He previously worked as a Management Consultant both at PwC and other international firms and is a contributing writer at Becoming Human, an AI based publication. Having graduated top of his class with a Masters in Mechanical Engineering with Management from the University of Edinburgh he has a thorough and analytical approach to business.</p>

                <p class="card-text">He is uniquely qualified to solve this problem based on his experience of doing this at PwC in the UK. During this time Euan analysed over $2.8 billion of spend in the healthcare sector working with teams to identify over $40 million worth of savings opportunities for clients. These unique insights into the problems faced by procurement/finance departments on a daily basis have allowed him to provide invaluable knowledge into the development of the platform.</p>

                <p class="card-text">At VisionClerk, Euan leads the business operations, providing an essential link between Procurement/Finance Departments and the Product Development Team. On the ground he is chief doer, exploring opportunities for the company, putting the foundations in place for growth and tracking sales and development of the platform.</p>
            </div>
        </div>
      </div>

      </div>
  </div>
</div>
</div>
