
<div class = "container-fluid m-0 p-0">

  <!-- <div class="jumbotron text-center mb-0" style="background-image: url('JumbotronImage.jpg'); background-size: cover;">
    <div class="text-white text-center py-5 px-4">
      <h1 class="display-3 text-center font-bold pb-2">AI Powered  Procurement <br> & Spend Analytics Platform</h1>
      <p class="lead text-center">We automate the process of monitoring contract compliance and identifying <br> cost savings opportunities through our state-of-the-art AI platform</p>
      <hr class="my-4">
      <a class="btn btn-primary btn-lg" href="/register" role="button" style="color:white;">Get Started</a>
  </div>
  </div> -->

  <!--Jumbotron-->

<div class="row mb-4">
    <div class="col-md-12">
        <div class="card card-image"  style="background-image: url('JumbotronImage.jpg'); background-size: cover;">
            <div class="text-white text-center rgba-stylish-strong py-5 px-4">
                <div class="py-4">
                        <h1 class="display-4 pt-1 mb-4 font-bold">AI Powered  Procurement <br> & Spend Analytics Platform</h1>
                        <p class="px-5 pb-4 lead">We automate the process of monitoring contract compliance and identifying <br> cost savings opportunities through our state-of-the-art AI platform</p>
                        <a class="btn btn-primary btn-lg" href="/register" role="button" style="color:white;">Get Started</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Jumbotron-->

<div class="row m-0" style="background-color:white;">
  <div class="col-md-8 offset-2">
<!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold text-center my-5">What We Offer</h2>
  <!-- Section description -->

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-md-4 mb-md-0 mb-5">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-lg-10 col-md-9 col-10">
          <p class="grey-text">VisionClerk is the fastest and most accurate way for businesses to monitor contract compliance and identify cost savings opportunities. Our platform helps find and deliver value by identifying pricing disparities, enforcing contract compliance and uncovering opportunities for supplier consolidation.</p>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-4 mb-md-0 mb-5">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-lg-10 col-md-9 col-10">
          <img height="300px" width="475px" src="https://static.wixstatic.com/media/e3a074_8cb4dff032a14aee8297aa4fd672fcc1~mv2_d_3389_2138_s_2.png/v1/fill/w_878,h_554,al_c,usm_0.66_1.00_0.01/e3a074_8cb4dff032a14aee8297aa4fd672fcc1~mv2_d_3389_2138_s_2.png"></p>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</div>
</div>

  <div class="row m-2" style="background-color:white;">
    <div class="col-md-8 offset-2">
      <h2 class="h1-responsive font-weight-bold text-center my-5">Why Use VisionClerk?</h2>
      <!--
      <p class="lead grey-text text-center w-responsive mx-auto mb-5">Companies are not good at saving money and complying with contracts. We are!</p>
    -->
    <p class="lead grey-text text-center w-responsive mx-auto mb-5">Contract compliance and money saving can often go overlooked. We have a solution for that!</p>
      <div class="row">
        <!--
        <div class="col-lg-5 text-center text-lg-left">
          <img  class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/screens-section.jpg" alt="Sample image">
        </div>
        <div class="col-lg-7">
          <div class="row mb-3">
            <div class="col-1">
              <i class="fas fa-project-diagram"></i>
            </div>
            <div class="col-xl-10 col-md-11 col-10">
              <h5 class="font-weight-bold mb-3">Process</h5>
              <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit enim ad minima veniam, quis nostrum exercitationem ullam. Reprehenderit maiores aperiam assumenda deleniti hic.</p>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-1">
              <i class="fa fa-line-chart" aria-hidden="true"></i>
            </div>
            <div class="col-xl-10 col-md-11 col-10">
              <h5 class="font-weight-bold mb-3">Analyze</h5>
              <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit enim ad minima veniam, quis nostrum exercitationem ullam. Reprehenderit maiores aperiam assumenda deleniti hic.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-1">
              <i class="fas fa-tasks"></i>
            </div>
            <div class="col-xl-10 col-md-11 col-10">
              <h5 class="font-weight-bold mb-3">Report</h5>
              <p class="grey-text mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit enim ad minima veniam, quis nostrum exercitationem ullam. Reprehenderit maiores aperiam assumenda deleniti hic.</p>
            </div>
          </div>
        </div>
      -->
      <div class="col-sm-4">
        <div class="card mb-3">
          <img class="card-img-top" height="200px" src="https://1ikuf83bwjl9pxg6s2wiriq9-wpengine.netdna-ssl.com/wp-content/uploads/2015/03/DataProcessingImage11.jpg" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title text-center">Process</h4>
                <p class="card-text">We use AI to extract key pieces of information from your data. This includes contracts, invoices and spend data. We're able to extract start dates, end dates, supplier information and price data to form an accurate and robust data set.</p>
            </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card mb-3">
          <img class="card-img-top" height="200px" src="http://impelinfotech.com/images/form-processing.png" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title text-center">Analyze</h4>
                <p class="card-text">Using your data sets we're able to analyse spend patterns to identify key opportunities for you. This includes opportunities for supplier consolidation, benchmark comparisons with others in similar industries and fraudulent transactions.</p>
            </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card mb-3">
          <img class="card-img-top" height="200px" src="http://ec.europa.eu/environment/waste/reporting/images/173649127.jpg" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title text-center">Report</h4>
                <p class="card-text">In every area of our platform we actively seek and deliver actionable insights for your team to explore further and implement. These happen on a live basis and are enabled by industry insight programmed into our platform by our experienced team.</p>
            </div>
        </div>
      </div>

      </div>
  </div>
</div>

<div class="row m-2" style="background-color:white;">
  <div class="col-md-8 offset-2">
    <h2 class="h1-responsive font-weight-bold text-center my-5">Our Vision</h2>

  <p class="lead grey-text text-center w-responsive mx-auto mb-5">In July 2017, an article was published in the Harvard Business Review stating that 'AI May Soon Replace Even the Most Elite Consultants'. At VisionClerk we believe that time is now. Our goal is not to become a Management Consulting firm, but to build a scaleable platform that negates the need for many consulting engagements.

In our first product focused on spend analytics specific to procurement and finance departments we're starting small. We're linking in contract data, invoice data and in many cases PO/AP data. After creating a robust platform we'll be able to uncover additional value for our customers through providing actionable insights by linking in usage data, benchmark comparisons and information on innovative products coming to market.</p>

</div>
</div>

</div>
  <!-- <div class="row m-2" style="background-color:white;">
    <section class="my-5">
      <h2 class="h1-responsive font-weight-bold text-center my-5">Why is it so great?</h2>
      <p class="lead grey-text text-center w-responsive mx-auto mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
      <div class="row">
        <div class="col-md-4 mb-md-0 mb-5">
          <div class="row">
            <div class="col-lg-2 col-md-3 col-2">
              <i class="fa fa-bullhorn blue-text fa-2x"></i>
            </div>
            <div class="col-lg-10 col-md-9 col-10">
              <h4 class="font-weight-bold">Marketing</h4>
              <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
              <a class="btn btn-primary btn-sm">Learn more</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-md-0 mb-5">
          <div class="row">
            <div class="col-lg-2 col-md-3 col-2">
              <i class="fa fa-cogs pink-text fa-2x"></i>
            </div>
            <div class="col-lg-10 col-md-9 col-10">
              <h4 class="font-weight-bold">Customization</h4>
              <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
              <a class="btn btn-pink btn-sm">Learn more</a>
            </div>
          </div>

        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="col-lg-2 col-md-3 col-2">
              <i class="fa fa-dashboard purple-text fa-2x"></i>
            </div>
            <div class="col-lg-10 col-md-9 col-10">
              <h4 class="font-weight-bold">Support</h4>
              <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
              <a class="btn btn-purple btn-sm">Learn more</a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div> -->
