<div class = "container-fluid m-0 p-0">
  <div class="jumbotron">
    <h1 class="display-4">Procurement & Spend Analytics</h1>
    <p class="lead">We automate the process of monitoring contract compliance and identifying cost savings opportunities.</p>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" href="/register" role="button" style="color:white;">Get Started</a>
  </div>
</div>

<!--
<div class = "container-fluid" id="main-content">
    <div id="main-content-row1" class="row align-items-center">
      <div class="col-sm-1"></div>

      <div class="col-xs-12 col-sm-10 mt-2" style="margin-right:5px; text-align:center; color:white">
        <p class="h1 m-1" style="font-weight:200; font-family:arial;">Procurement & Spend Analytics</p1>

        <div class="row" style="margin:auto;">
          <div class="col-sm-4"></div>
          <div class="col-xs-12 col-sm-4">
          <p class="h4 text-center"><small style="color:silver;">We automate the process of monitoring contract compliance and identifying cost savings opportunities</small></p>
          </div>
          <div class="col-sm-4"></div>
        </div>

        <div class="text-center mb-4">
        <a href="/register">
          <button id="landing_resgister" class="btn btn-primary btn-lg" style="border-radius:25px" type="button">Get Started</button>
        </a>
        </div>

      </div>

      <div class="col-sm-1"></div>
    </div>

    <div id="main-content-row3" class="row align-items-center">
      <div class="col-md-2"></div>
      <div class="col-xs-12 col-md-8">
        <div class="text-center">
        <p class="h3 m-3" style="font-weight:300; font-family:Lucida Sans Unicode;">CURRENT FEATURES</p1>
        </div>
        <div class="row align-items-center m-3">
          <div class="col-xs-12 col-md-6 align-items-center text-center p-3">
            <div class="media">
              <div class="media-object align-self-center mr-3"><img src="assests/images/query.png" alt="nothing"></img></div>
            <h5 class="media-body" style="text-align:justify; color:grey;">Easy Query:
            <small>Search using plain language. You can ask questions, state specific fact patterns, search up on how a particular rule or principle of law is applied, and so much more...</small>
          </h5></div>
          </div>
          <div class="col-xs-12 col-md-6 align-items-center text-center p-3">
            <div class="media">
              <div class="align-self-center mr-3"><img src="assests/images/search.png" alt="nothing"></img></div>
            <h5 class="media-body" style="text-align:justify; color:grey;">Intelligent Search:
            <small>Our AI compares features of the query and documents by examining multiple dimensions. We retrieve documents with the strongest correlations and the greatest contextual relevance.</small>
          </h5></div>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>

    <div id="main-content-row4" class="row align-items-center">
      <div class="col-md-2"></div>
      <div class="col-xs-12 col-md-8">
        <div class="text-center">
        <p class="h3 m-3" style="font-weight:300; font-family:Lucida Sans Unicode;">COMING SOON</p1>
        </div>
        <div class="row align-items-center m-3">
          <div class="col-xs-12 col-md-6 align-items-center text-center p-3">
            <div class="media">
              <div class="media-object align-self-center mr-3" style="font-size:2em"><i class="fas fa-bullseye"></i></div>
            <h5 class="media-body" style="text-align:justify; color:grey;">Targeted Excerpts:
            <small>Retrieve extracted excerpts from the text, for each search result, to quickly zero in on the most relevant results.</small>
          </h5></div>
          </div>
          <div class="col-xs-12 col-md-6 align-items-center text-center p-3">
            <div class="media">
              <div class="align-self-center mr-3" style="font-size:2em"><i class="fas fa-filter"></i></div>
            <h5 class="media-body" style="text-align:justify; color:grey;">Advanced Filters:
            <small>Refine your results based on key case attributes including Entities, Appealing Parties, Disposition, Court, Date, Judge, and Procedural Posture.</small>
          </h5></div>
          </div>
        </div>
        <div class="row align-items-center m-3">
          <div class="col-xs-12 col-md-6 align-items-center text-center p-3">
            <div class="media">
              <div class="media-object align-self-center mr-3" style="font-size:2em"><i class="fas fa-angle-double-left"></i></div>
            <h5 class="media-body" style="text-align:justify; color:grey;">Precision Highlighting:
            <small>Read key points of law, from multiple parts of a case, which highlight the legal issues within the case as they relate to your query.</small>
          </h5></div>
          </div>
          <div class="col-xs-12 col-md-6 align-items-center text-center p-3">
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>

</div> -->
