<!-- Search bar -->
<div class="container">
  <div  class="row">
    <div class="col-2"></div>
    <div class="col-10">
      <form ng-submit="search.searchData(data);">
        <div  class="row">
          <div class="col-9">
            <input class="form-control" type="search" ng-model="search.data.query">
          </div>
          <div class="col-3">
            <button style="background-color: #2a087a; border-radius: 12px; border: 2px solid #2a087a; color: white; padding: 10px 15px 10px 15px;" type="submit">Search</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- dynamic divs to display query result documents -->
<div  class="row">
  <div class="col-2"></div>
  <div class="col-8">
    <div ng-repeat="x in results">
      <br>
      <h5>
        <a href="/displaycase" style="color: #0066ff;" ng-click="sendCaseData(x.casename, x.documenttext, x.docid)">{{ x.casename }}</a>
      </h5>
      <p style="color: #33334d;">Document Id: {{ x.docid }} Court: {{ x.court }}</p>
    </div>
  </div>
  <div class="col-2"></div>
</div>
