
<div class="contain-fluid m-2 p-0">

  <div class="col-md-4 col-sm-12 card p-2">
    <h5 class="card-header">Upload Contracts</h5>
    <div class="card-body m-0">

      <div class="progress m-1" ng-show="uploading">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
      </div>


      <form class="w-75">
          <div class="form-group">
              <!-- <label for="myFileField">Upload</label> -->
              <input type="file" file-model="myFiles" name="myFiles" class="form-control" id ="myFiles" multiple/>
              <button ng-click="uploadFiles()" class="btn btn-primary m-1">Upload</button>
          </div>
      </form>

      <div ng-show="showMessage && success" class="alert alert-success">{{message}}</div>
      <div ng-show="showMessage && !success" class="alert alert-danger">{{message}}</div>
      <div ng-show="processingStatus" class="alert alert-success">{{ processingMessage }}</div>

      <div class="card p-2 m-2" ng-show="showMessage">
        <h5 class="card-header" data-toggle="collapse" data-target="#fileLog">Log of uploads</h5>
        <div class="card-body m-0 collapse hide" id="fileLog">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">File Name</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="file in uploadedFiles">
                  <th scope="row">{{ $index + 1 }}</th>
                  <td>{{ file.filename }}</td>
                </tr>
              </tbody>
            </table>
        </div>
    </div>

    </div>
  </div>

  <div class="col-md-8 col-sm-12 card p-2 mt-1">
    <h5 class="card-header">All Files <button type="button" class="btn btn-success" ng-click="refreshData()" style="float:right;">Refresh</button></h5>
    <div class="card-body m-0">
      <table class="table" ng-init="displayFiles()">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">File Name</th>
            <th scope="col">Date Uploaded</th>
            <th scope="col">Processed</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="row in table">
            <th scope="row">{{ $index + 1 }}</th>
            <td>{{ row.originalName }}</td>
            <td>{{ row.date }}</td>
            <td>{{ row.fileExtracted }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-md-8 col-sm-12 card p-2 mt-1">
    <h5 class="card-header">All Contracts</h5>
    <div class="card-body m-0">
      <table class="table" ng-init="displayContracts()">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Company</th>
            <th scope="col">File Name</th>
            <th scope="col">Publication Date</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="row in contracts">
            <th scope="row">{{ $index + 1 }}</th>
            <td>{{ row.company }}</td>
            <td>{{ row.fileName }}</td>
            <td>{{ row.publicationDate }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
