<div class="container-fluid m-0 p-2">

  <div class="row m-1">
    <div class="card w-100">
      <div class="card-body">
          <h1 class="h1-reponsive mb-4 mt-2 blue-text font-bold">Insights & Opportunities</h1>
          <!-- <p class="lead">Manage transactional spend data. Transactional data is analyzed by vendor and by category and matched with existing vendor contracts which are uploaded on the contracts page.</p> -->
          <div class="d-flex flex-nowrap m-1">
            <div class="order-1 p-2"><b>Total Spend</b> {{ totalSpend }}</div>
            <div class="order-2 p-2"><b>Total Transactions</b> {{totalTransactions}}</div>
            <div class="order-3 p-2"><b>Total Suppliers</b> {{totalSuppliers}}</div>
          </div>

      </div>
    </div>
  </div>

  <div class="row m-2">

    <div class="col-md-3">
      <div class="card">
        <h4>Amount {{ duplicateSpendAmount }}</h4>
        <h5>Duplicate Spend</h5>
        <h5><a href="/analytics/insights/duplicatespend">{{ duplicatesDiscovered }} Discovered</a></h5>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <h4>Amount {{ highGrowthAmount }}</h4>
        <h5>High Growth</h5>
        <h5><a href="/analytics/insights/highGrowthSpend">{{ highGrowthDiscovered }} Discovered</a></h5>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <h4>Amount {{ outlierTransactionsAmount }}</h4>
        <h5>Outlier Transactions</h5>
        <h5><a href="/analytics/insights/outlierTransactions">{{ outlierTransactionsDiscovered }} Discovered</h5>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <h4>Amount {{ outlierTransactionAmount }}</h4>
        <h5>Maverick Spending</h5>
        <h5><a href="/analytics/insights/outlierTransactions">{{ outlierTransactionsDiscovered }} Discovered</h5>
      </div>
    </div>

  </div>

  <div class="row m-2">

    <div class="col-md-3">
      <div class="card">
        <h4>Amount {{ duplicateSpendAmount }}</h4>
        <h5>Demand Aggregation</h5>
        <h5><a href="/analytics/insights/duplicatespend">{{ duplicatesDiscovered }} Discovered</a></h5>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <h4>Amount {{ highGrowthAmount }}</h4>
        <h5>Fragmented Categories</h5>
        <h5><a href="/analytics/insights/highGrowthSpend">{{ highGrowthDiscovered }} Discovered</a></h5>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <h4>Amount {{ outlierTransactionsAmount }}</h4>
        <h5>Subscriptions</h5>
        <h5><a href="/analytics/insights/outlierTransactions">{{ outlierTransactionsDiscovered }} Discovered</h5>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <h4>Amount {{ outlierTransactionsAmount }}</h4>
        <h5>Off-Contract Purchases</h5>
        <h5><a href="/analytics/insights/outlierTransactions">{{ outlierTransactionsDiscovered }} Discovered</h5>
      </div>
    </div>

  </div>

  <div class="row m-2">

    <div class="col-md-3">
      <div class="card">
        <h4>Amount {{ outlierSuppliersAmount }}</h4>
        <h5>Outlier Suppliers</h5>
        <h5><a href="/analytics/insights/duplicatespend">{{ outlierSuppliersDiscovered }} Discovered</a></h5>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <h4>Amount {{ oneTimeSuppliersAmount }}</h4>
        <h5>One Time Suppliers</h5>
        <h5><a href="/analytics/insights/highGrowthSpend">{{ oneTimeSuppliersDiscovered }} Discovered</a></h5>
      </div>
    </div>
    <div class="col-md-3">
      <!-- <div class="card">
        <h4>Amount {{ outlierTransactionsAmount }}</h4>
        <h5>Subscriptions</h5>
        <h5><a href="/analytics/insights/outlierTransactions">{{ outlierTransactionsDiscovered }} Discovered</h5>
      </div> -->
    </div>
    <div class="col-md-3">
      <!-- <div class="card">
        <h4>Amount {{ outlierTransactionsAmount }}</h4>
        <h5>Off-Contract Purchases</h5>
        <h5><a href="/analytics/insights/outlierTransactions">{{ outlierTransactionsDiscovered }} Discovered</h5>
      </div> -->
    </div>

  </div>

</div>
