<div class="container-fluid m-0 p-2">

  <div class="row m-1">
    <div class="card w-100">
      <div class="card-body">
          <h1 class="h1-reponsive mb-4 mt-2 blue-text font-bold">Invoice Data</h1>
          <p class="lead">Manage transactional spend data. Transactional data is analyzed by vendor and by category and matched with existing vendor contracts which are uploaded on the contracts page.</p>
      </div>
    </div>
  </div>

  <div class="row m-2">
    <div class="col-md-12">
        <div class="card w-100" style="">

          <div class="card-body">

            <div class="d-flex">
              <div class="mr-auto p-2">
                <div class="d-flex bd-highlight mb-3" style="font-weight: bold;">
                  <div class="p-2 bd-highlight">{{ invoiceCount }} Verified Invoices</div>
                  <div class="p-2 bd-highlight">{{ unvalidatedInvoiceCount }} Unverified Invoices</div>
                  <div class="p-2 bd-highlight">{{ unprocessedInvoices }} Unprocessed Invoices</div>
                </div>
              </div>
              <div class="p-2">
                <form>
                  <input type="file" file-model="invoices" name="invoices" class="form-control" id ="invoices" multiple/>
                </form>
              </div>
              <div class="p-2">
                  <button ng-click="uploadFiles()" class="btn btn-primary btn-sm">Upload</button>
              </div>
            </div>

            <h3 class="mt-3">Verify Invoices</h3>
            <ul ng-hide="!showUnvalidatedInvoices">
              <li>Cross-reference each row with its original invoice and edit any data which is incorrect</li>
              <li>Specify category classification for the invoice</li>
            </ul>
            <p ng-hide="showUnvalidatedInvoices">{{ unvalidatedInvoicesMessage }}</p>
            <div class="card" style="max-height:600px; overflow-y:auto;">
              <table ng-table="unvalidatedInvoiceTable" ng-hide="!showUnvalidatedInvoices" class="table table-responsive-md table-condensed table-bordered table-striped" ng-init="getUnvalidatedInvoices()">
                <tbody>
                  <tr ng-repeat="row in $data">
                    <td title="'file name'">{{ row.originalFileName }}</td>
                    <td title="'invoice_id'" ng-switch="row.isEditing">
                      <span ng-switch-default class="editable-text">{{row.invoice_id}}</span>
                      <div class="controls" ng-switch-when="true">
                        <input type="text" ng-model="row.invoice_id" class="editable-input form-control input-sm" />
                        <input type="checkbox" ng-click="feedback(row._id, 'invoice_id')">
                      </div>
                    </td>
                    <td title="'order_id'" ng-switch="row.isEditing">
                      <span ng-switch-default class="editable-text">{{row.order_id}}</span>
                      <div class="controls" ng-switch-when="true">
                        <input type="text" ng-model="row.order_id" class="editable-input form-control input-sm" />
                        <input type="checkbox" ng-click="feedback(row._id, 'order_id')">
                      </div>
                    </td>
                    <td title="'currency'" ng-switch="row.isEditing">
                      <span ng-switch-default class="editable-text">{{ row.currency }}</span>
                      <div class="controls" ng-switch-when="true">
                        <input type="text" ng-model="row.currency" class="editable-input form-control input-sm" />
                        <input type="checkbox" ng-click="feedback(row._id, 'currency')">
                      </div>
                    </td>
                    <td title="'amount_total'" ng-switch="row.isEditing">
                      <span ng-switch-default class="editable-text">{{ row.amount_total }}</span>
                      <div class="controls" ng-switch-when="true">
                        <input type="text" ng-model="row.amount_total" class="editable-input form-control input-sm" />
                        <input type="checkbox" ng-click="feedback(row._id, 'amount_total')">
                      </div>
                    </td>
                    <td title="'amount_due'" ng-switch="row.isEditing">
                      <span ng-switch-default class="editable-text">{{ row.amount_due }}</span>
                      <div class="controls" ng-switch-when="true">
                        <input type="text" ng-model="row.amount_due" class="editable-input form-control input-sm" />
                        <input type="checkbox" ng-click="feedback(row._id, 'amount_due')">
                      </div>
                    </td>
                    <td title="'customer_id'" ng-switch="row.isEditing">
                      <span ng-switch-default class="editable-text">{{ row.customer_id }}</span>
                      <div class="controls" ng-switch-when="true">
                        <input type="text" ng-model="row.customer_id" class="editable-input form-control input-sm" />
                        <input type="checkbox" ng-click="feedback(row._id, 'customer_id')">
                      </div>
                    </td>
                    <td title="'sender_name'" ng-switch="row.isEditing">
                      <span ng-switch-default class="editable-text">{{ row.sender_name }}</span>
                      <div class="controls" ng-switch-when="true">
                        <input type="text" ng-model="row.sender_name" class="editable-input form-control input-sm" />
                        <input type="checkbox" ng-click="feedback(row._id, 'sender_name')">
                      </div>
                    </td>
                    <td title="'date_issue'" ng-switch="row.isEditing">
                      <span ng-switch-default class="editable-text">{{row.date_issue}}</span>
                      <div class="controls" ng-switch-when="true">
                        <input type="text" ng-model="row.date_issue" class="editable-input form-control input-sm" />
                        <input type="checkbox" ng-click="feedback(row._id, 'date_issue')">
                      </div>
                    </td>
                    <td title="'date_due'" ng-switch="row.isEditing">
                      <span ng-switch-default class="editable-text">{{row.date_due}}</span>
                      <div class="controls" ng-switch-when="true">
                        <input type="text" ng-model="row.date_due" class="editable-input form-control input-sm" />
                        <input type="checkbox" ng-click="feedback(row._id, 'date_due')">
                      </div>
                    </td>
                    <td title="'terms'" ng-switch="row.isEditing">
                      <span ng-switch-default class="editable-text">{{ row.terms }}</span>
                      <div class="controls" ng-switch-when="true">
                        <input type="text" ng-model="row.terms" class="editable-input form-control input-sm" />
                        <input type="checkbox" ng-click="feedback(row._id, 'terms')">
                      </div>
                    </td>
                    <td>
                      <button class="btn btn-primary btn-sm" ng-click="(row.isEditing = false); updateInvoice(row)" ng-if="row.isEditing">Done</button>
                      <!-- <button class="btn btn-default btn-sm" ng-click="getUnvalidatedContracts()" ng-if="row.isEditing">Remove</button> -->
                      <button class="btn btn-default btn-sm" ng-click="row.isEditing = true" ng-if="!row.isEditing">Edit</button>
                      <button class="btn btn-primary btn-sm" ng-click="viewInvoice(row._id)">View</button>
                    </td>
                    <td><button class="btn btn-primary btn-sm" ng-click="validateInvoice(row._id)">Verify</button>
                    <td><a href="" ng-click="deleteInvoice(row._id)"><i class="fas fa-trash"></i></a></td>
                  </tr>
                </tbody>
              </table>
            </div>

            <h3 class="mt-3">All Invoices</h4>
            <div class="card" style="max-height:600px; overflow-y:auto;">
              <p ng-hide="showInvoices">{{ invoicesMessage }}</p>
              <table ng-table="invoiceTable" ng-hide="!showInvoices" class="table table-condensed table-bordered table-striped" ng-init="getInvoices()">
                <tbody>
                  <tr ng-repeat="row in $data">

                    <td title="'file name'" filter="{originalFileName: 'text'}">{{ row.originalFileName }}</td>
                    <td title="'invoice_id'" filter="{invoice_id: 'text'}">{{ row.invoice_id }}</td>
                    <td title="'order_id'" filter="{order_id: 'text'}">{{ row.order_id }}</td>
                    <td title="'currency'" filter="{currency: 'text'}">{{ row.currency }}</td>
                    <td title="'amount_total'" filter="{amount_total: 'text'}" sortable="'amount_total'">{{ row.amount_total | number:2 }}</td>
                    <td title="'amount_due'" filter="{amount_due: 'text'}" sortable="'amount_due'">{{ row.amount_due | number:2 }}</td>
                    <td title="'customer_id'" filter="{customer_id: 'text'}">{{ row.customer_id }}</td>
                    <td title="'sender_name'" filter="{sender_name: 'text'}">{{ row.sender_name }}</td>
                    <td title="'date_issue'" filter="{date_issue: 'text'}" sortable="'date_issue'">{{row.date_issue | date}}</td>
                    <td title="'date_due'" filter="{date_due: 'text'}" sortable="'date_due'">{{row.date_due | date}}</td>
                    <td title="'terms'" filter="{terms: 'text'}">{{ row.terms }}</td>
                    <td title="'delete row'"><a href="" ng-click="deleteContract(row._id)"><i class="fas fa-trash"></i></a></td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
