<div class="row">
  <div class="col-2">
    <a href="/results" style="padding: 0px 50px 0px 20px;">
      <button style="background-color: #2a087a; border-radius: 12px; border: 2px solid #2a087a; color: white; padding: 10px 15px 10px 15px;" type="submit">Back to results</button>
    </a>

    <!-- User Feedback -->
    <br>
    <div style="float: right; padding: 20px 0px 0px 25px;">
      <form ng-show="search.feedback_submitted" style="float: right; border-radius: 25px; background: #6b61f4; padding: 20px 10px 20px 10px;">
        <p style="color: white; text-align: center; font-size: 15px;">Was this document relevant?</p>
        <!-- <input class="form-control" type="range" min="0" max="1" ng-model="search.relevance.score">-->
        <a href="#" ng-click="search.userFeedback(10); search.getDateTimeLocation();" style="float: left; padding-left: 30px;">
          <img src="assests/images/thumbs-up.png" alt="Thumbs Up" width="20" height="20">
        </a>
        <a href="#" ng-click="search.userFeedback(0); search.getDateTimeLocation();" style="float: right; padding-right: 30px;">
          <img src="assests/images/thumbs-down.png" alt="Thumbs Down" width="20" height="20">
        </a>
        <!-- <button style="background-color: #2a087a; border-radius: 12px; border: 2px solid #2a087a; color: white; padding: 10px 15px 10px 15px;" type="submit" ng-click="search.getDateTimeLocation();">Submit</button>-->
      </form>
      <p ng-show="!search.feedback_submitted" style="color: white; text-align: center; border-radius: 25px; background: #6b61f4; padding: 10px;">Thank you for your feedback :)</p>
      <!-- <form ng-submit="search.searchData(data);">
        <input class="form-control" type="search" ng-model="search.data.query">-->
      </form>
    </div>

  </div>
  <div class="col-9">
    <div ng-controller="search.displayCase">
      <h2>{{ search.casename }}</h2>
      <div ng-bind-html="search.doctext" style="background-color: #ededed; border-radius: 25px; padding: 0px 30px 0px 30px;"></div>
    </div>
  </div>
  <div class="col-1"></div>
</div>
